<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{% static 'js/enlaces.js' %}">
    </script>
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
        <div class="logo">
          <a href="/">
            <img src="{% static 'images/Logo.png' %}" alt="New Wave Forex Logo">
          </a>
        </div>
        {% if user.is_authenticated %}
        <span class="nombre_usuario"> Bienvenido: {{user.first_name}} {{user.last_name}} </span>
        {% endif %} 
        <nav>
            <ul>
                <li><a href="{% url 'listar_usuarios' %}">Usuarios</a></li>
                <li><a href="{% url 'listar_productos' %}">Membresias</a></li>
                <li><a href="{% url 'index' %}">Salir</a></li>
            </ul>
        </nav>
    </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr class="lineafinal">
  <footer>
    <div class="footer-left">
        <div class="footer-logo">
            <img src="{% static 'images/Logo.png' %}" alt="New Wave Forex Logo">
        </div>
        <h2>NEW WAVE FOREX</h2>
        <div class="footer-info">
            <p>Nuestra misión es ayudarte para que puedas mejorar tu educación financiera.</p>
        </div>
        <div class="social-media">
            <a href="#"><img src="facebook.png" alt="Facebook"></a>
            <a href="#"><img src="twitter.png" alt="Twitter"></a>
            <a href="#"><img src="instagram.png" alt="Instagram"></a>
        </div>
    </div>
    
    <div class="footer-services">
        <h3>Servicios</h3>
        <ul>
            <li><a href="#">-) Acceso a plataforma gratuita</a></li>
            <li><a href="#">-) Clases en vivo todos los días</a></li>
            <li><a href="#">-) Seguimiento de un mentor</a></li>
            <li><a href="#">-) Comunidad</a></li>
        </ul>
    </div>
    
    <div class="footer-contact">
        <h3>Horario de Atención</h3>
        <img src="{% static 'images/Logo.png' %}" alt="New Wave Forex Logo">
        <p>08h30 a 12:30</p>
        <p>14h00 - 18:00</p>
        <p>Lunes a viernes</p>
        <p>Estamos gustosos de atender cada una de tus consultas.</p>
    </div>
</footer>

  </body>
</html>