{% extends "master.html" %}

{% block title %}
{% load static %}
  New Wave Forex
{% endblock %}

{% block content %}
        <section class="mentors-section">
    <div class="mentors-header">
    <h1>Mentores</h1>
    <div class="mentor-pensante">
        <img src="{% static 'images/mentorPensantes.png' %}" alt="Mentor Pensante">
    </div>
    <p>Nuestros mentores cuentan con más de 5 años de experiencia en los <br>mercados financieros.</p>
</div>

    
    <div class="mentors-grid">
        <div class="mentor">
            <h2>Hans Fernando Martínez Bravo</h2>
            <p>Forex Trader / Mentor</p>
            <div class="mentor-photo">
                <img src="{% static 'images/mentores.png' %}" >
            </div>
            <p class="mentor-description">Breve descripción de sus capacidades en temas de trading.</p>
        </div>
        <div class="mentor">
            <h2>Adriano Daniel López Briceño</h2>
            <p>Forex Trader / Mentor</p>
            <div class="mentor-photo">
                <img src="{% static 'images/mentores2.png' %}" >
            </div>
            <p class="mentor-description">Breve descripción de sus capacidades en temas de trading.</p>
        </div>
        <div class="mentor">
            <h2>Jhonatan Andrés Bravo</h2>
            <p>Forex Trader / Mentor</p>
            <div class="mentor-photo">
                <img src="{% static 'images/mentores2.png' %}" >
            </div>
            <p class="mentor-description">Breve descripción de sus capacidades en temas de trading.</p>
        </div>
        <div class="mentor">
            <h2>Alex López Briceño</h2>
            <p>Forex Trader / Mentor</p>
            <div class="mentor-photo">
                <img src="{% static 'images/mentores.png' %}" >
            </div>
            <p class="mentor-description">Breve descripción de sus capacidades en temas de trading.</p>
        </div>
    </div>
</section>

        <section class="contact-section">
            <h1>Contáctanos</h1>
            <div class="contact-info">
                <div class="contact-details">
                    <img src="{% static 'images/contactanos.svg' %}" >
                    <p><i class="fas fa-map-marker-alt"></i> Dirección: 18 de Noviembre y Cólon Loja - Ecuador</p>
                    <p><i class="fas fa-phone"></i> 0931 56 76 75</p>
                    <p><i class="fas fa-envelope"></i> forexwave01@gmail.com</p>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.1218895952616!2d-79.20677082556429!3d-3.995351695978383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cb4801a1b3bbc3%3A0xaa38bacd8505859b!2s18%20de%20Noviembre%20%26%20Crist%C3%B3bal%20Col%C3%B3n%2C%20Loja!5e0!3m2!1ses!2sec!4v1721348086860!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
{% endblock %}